.settings-subheader {
  margin-top: 50px;
}

.delete-button {
  display: block;
  font-size: 26px;
  margin: 20px auto 20px auto;
  font-family: 'Lora', serif;
  color: #e7d893;
  background-color: #DD7230;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 60px;
}

.delete-button:hover {
  display: block;
  margin: 20px auto;
  color: #DD7230;
  background-color: #e7d893;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  transition: 0.3s;
  margin-bottom: 60px;
}