.user_data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  border: 5px double #2E1F27;
  border-radius: 10px;
}

.user-info-container input {
  font-size: 16px;
  border: 1px solid #2E1F27;
  border-radius: 4px;
}

#full_name,
#email {
  width: 90%;
}

.user_data button {
  font-family: 'Lora', serif;
  margin: 15px;
  color: #E7E393;
  background-color: #DD7230;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  padding: 8px 40px;
}

.user_data button:hover {
  margin: 5px;
  color: #DD7230;
  background-color: #E7E393;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  transition: 0.3s;
}

@media screen and (min-width: 450px) {
  .user-info-container {
    margin: 0 auto;
    width: 460px;
  }

  .user-info-container input {
    font-size: 16px;
    border: 1px solid #2E1F27;
    border-radius: 4px;
    margin: 5px auto;
    padding: 10px 60px 10px 10px;
  }
}

@media screen and (min-width: 750px) {
  .user_data button {
    font-family: 'Lora', serif;
    margin: 15px;
    color: #E7E393;
    background-color: #DD7230;
    border: 1px solid #2E1F27;
    border-radius: 4px;
    padding: 8px 40px;
  }

  .user-info-container {
    width: 660px;
  }
}