.modal-box{
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 50px;
    width: 500px;
    background: white;
    border: 3px solid #ccc;
    box-shadow: 
    -2rem 2rem 2rem rgba(black, 0.2);
    vertical-align: middle;
    animation: fadeIn ease 0.3s;
    opacity: 1;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* --- Coin stuff --- */

#coin {
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bolder;
    width: 170px;
    height: 170px;
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
  }
  
  #coin {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  #coin.spinning {
    -webkit-animation: flip 4s infinite linear;
    animation: flip 4s infinite linear;
  }
  @-webkit-keyframes flip {
    from {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
    }
    to {
      -webkit-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
    }
  }
  @keyframes flip {
    from {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
    }
    to {
      -webkit-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
    }
  }
  #coin.finished {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

/* --- Text animation things --- */ 

/* by Andy Feliciotti https://drawne.com/pop-in-effect-with-css3-keyframe-animation/ */

@-webkit-keyframes pop-in {
    0% { opacity: 0; -webkit-transform: scale(0.5); }
    100% { opacity: 1; -webkit-transform: scale(1); }
    }
    @-moz-keyframes pop-in {
    0% { opacity: 0; -moz-transform: scale(0.5); }
    100% { opacity: 1; -moz-transform: scale(1); }
    }
    @keyframes pop-in {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
    }

@-webkit-keyframes pop-out {
    0% { opacity: 1; -webkit-transform: scale(1); }
    100% { opacity: 0; -webkit-transform: scale(0.5); }
    }
    @-moz-keyframes pop-out {
    0% { opacity: 1; -moz-transform: scale(1); }
    100% { opacity: 0; -moz-transform: scale(0.5); }
    }
    @keyframes pop-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.5); }
}

.coin-text {
    display: none;
}

.coin-text.finished {
    display: inline;
    -webkit-animation:pop-in 0.5s;
    -moz-animation:pop-in 0.5s;
    -ms-animation:pop-in 0.5s;
}

.coin-text.spinning {
    display: none;
}

.coin-text.popout {
    -webkit-animation:pop-out 0.5s;
    -moz-animation:pop-out 0.5s;
    -ms-animation:pop-out 0.5s;
}