li {
  display: flex;
  flex-direction: row;
  padding: 5px;
  list-style-type: none;
}

.hidden-label{
  margin: 5px;
}

.usermessage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.usermessage input {
  margin: 5px;
  width: 200px;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  font-style: italic;
}

.usermessage button {
  font-family: 'Lora', serif;
  margin: 5px;
  color: #E7E393;
  background-color: #DD7230;
  border: 1px solid #2E1F27;
  border-radius: 4px;
}