.messages-container {
  margin-top: 40px;
}

.message-list {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 5px double #2E1F27;
  border-radius: 10px;
}

.message-page-navigator input {
  padding: 5px;
  font-family: 'Lora', serif;
  border: 1px solid #2E1F27;
  font-size: 16px;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 10px auto 0;
}

.go-btn {
  font-family: 'Lora', serif;
  display: inline-block;
  margin: 10px 5px;
  color: #2E1F27;
  background-color: transparent;
  border: 2px solid #DD7230;
  border-radius: 4px;
}

.message-page-navigator {
  margin: 20px auto 0;
  width: 90%;
}

.message-page-navigator button{
  font-family: 'Lora', serif;
  font-size: 1.15rem;
  margin: 3px;
  padding: 15px 15px;
  color: #E7E393;
  background-color: #DD7230;
  border: 1px solid #2E1F27;
  border-radius: 4px;
}

.message-page-navigator button:hover {
  color: #DD7230;
  background-color: #E7E393;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  transition: 0.3s;
}

@media screen and (min-width: 1000px) {
  .message-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
    max-width: 1250px;
  }

  .messages-container {
    width: 95%;
    margin: 0 auto;
  }
}