.registration h2 {
  margin-bottom: 1rem;
}

.RegistrationForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.RegistrationForm label {
  text-align: left;
  display: block;
  padding-bottom: 20px;
}

.RegistrationForm input {
  font-size: 16px;
  max-width: 250px;
  padding: 5px;
  display: block;
  margin-top: 5px;
}

@media only screen and (min-width: 600px) {
  .registration {
    padding-top: 14rem;
  }

}