.signup-form {
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 1rem;
}

.signup-form label {
  font-family: 'Lora', serif;
  font-weight: bolder;
  font-size: 20px;
}

.signup-form input{
  font-size: 20px;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  margin: 10px auto;
  padding: 3px 5px;
  width: 50%;
}

.redirect-user {
  margin: 1rem auto;
}


@media only screen and (min-width: 600px) {
  
}