.message-form {
  padding: 0;
}

.submit-message {
  text-align: center;
  margin: 5px;
  font-size: 26px;
  font-family: 'Yellowtail', cursive;
  text-decoration: none;
  padding: 5px;
  border-radius: 40px;
  color: #E7E393;
  background-color: #DD7230;
  border: 5px double  #2E1F27;
}

.submit-message:hover {
  background-color: #F4C95D;
  color: #854D27;
  border: 5px double #2E1F27;
  transition: 0.3s;
}


