.home {
  background-color: #E7E393;
  padding-top: 16rem;
}

.penny-intro {
  padding: 1rem;
  margin: auto;
  text-align: center;
  width: 90vw;
}

.submit-message {
  text-align: center;
  margin: 10px;
  font-size: 18px;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 5px;
  border-radius: 40px;
  color: #E7E393;
  background-color: #DD7230;
  border: 5px double  #2E1F27;
}

.submit-message:hover {
  background-color: #F4C95D;
  color: #854D27;
  border: 5px double #2E1F27;
  transition: 0.3s;
}

.message-form {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 148px;
  background-color: #E7E393;
  z-index: 1;
}

.basic-label {
  font-size: 20px;
}

.basic-input {
  width: 200px;
  padding: 5px;
  display: block;
  font-family: 'Lora', serif;
  border: 1px solid #2E1F27;
  font-size: 16px;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 10px auto 0;
}



@media only screen and (min-width: 600px) {
  .message-form {
    top: 229px;
  }

}