.message-form {
  padding: 20px;
}

.div-background {
  background-color: #E7E393;
}

.submit-message {
  text-align: center;
  margin: 20px;
  font-size: 26px;
  font-family: 'Yellowtail', cursive;
  text-decoration: none;
  padding: 5px;
  border-radius: 40px;
  color: #E7E393;
  background-color: #DD7230;
  border: 5px double  #2E1F27;
}

.submit-message:hover {
  background-color: #F4C95D;
  color: #854D27;
  border: 5px double #2E1F27;
  transition: 0.3s;
}

.message-form {
  margin: 0;
  padding: 0;
  text-align: center;
}

.basic-label {
  font-size: 20px;
}

.basic-input {
  font-size: 16px;
  width: 200px;
  padding: 5px;
  /* display: block; */
}

.penny-intro {
  padding: 20px;
  margin: auto;
  text-align: center;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .user-greeting {
    position: fixed;
    top: 183px;
    width: 100%;
    z-index: 1;
  }

  .message-form {
    position: fixed;
    top: 254px;
    background-color: #E7E393;
    z-index: 1;
  }

  .submit-message {
    font-weight: bolder;
    padding: 5px;
    margin: 3px;
  }
  
  .basic-input {
    font-family: 'Lora', serif;
    font-size: 22px;
    border: 1px solid #2E1F27;
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
  }

  .basic-label {
    font-weight: bold;
    margin-right: .5rem;
  }

  .coin-messages-container {
    padding-top: 380px;
  }
}
