@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4C95D;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Raleway', sans-serif;
}

nav {
  display: block;
  padding: 0.7rem;
  background-color: #DD7230;
}

li {
  display: flex;
  flex-direction: row;
  padding: 5px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.user-greeting {
  font-family: 'Lora', serif;
  color: #E7E393;
  background-color: #854D27;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 117px;
  width: 100%;
  z-index: 1;
}

.coin-messages-container {
  width: 100%;
  min-height: 30rem;
  background-color: #F4C95D;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.messages-container {
  width: 100%;
  background-color: #F4C95D;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.messages-container h2 , 
.settings-subheader {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 18px;
  padding: 5px 0;
}

.hidden-label {
  margin: 5px;
}

.usermessage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.usermessage input {
  margin: 5px;
  width: 200px;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  font-style: italic;
}

.usermessage button {
  font-family: 'Lora', serif;
  margin: 5px;
  color: #E7E393;
  background-color: #DD7230;
  border: 1px solid #2E1F27;
  border-radius: 4px;
}

.usermessage button:hover {
  margin: 5px;
  color: #DD7230;
  background-color: #E7E393;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  transition: 0.3s;
}

.solid-orange-btn {
  font-weight: bolder;
  background-color: #DD7230;
  font-family: 'Lora', serif;
  font-size: 22px;
  color: #E7E393;
  border: 1px solid #2E1F27;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
}

.solid-orange-btn:hover {
  background-color: #E7E393;
  color: #DD7230;
  border: 1px solid #2E1F27;
  transition: 0.3s;
}

.private-home-error {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 5px 15px;
  width: 95%;
  margin: 0 auto;
}

.private-home-success {
  text-align: center;
  color: green;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .user-greeting {
    top: 198px;
  }

  .coin-messages-container {
    margin-top: 2rem;
  }
}


@keyframes bounce {
  0% {transform: scale(1);}
  30% {transform: scaleX(1.25) scaleY(0.75);}
  40% {transform: scaleX(0.75) scaleY(1.25);}
  60% {transform: scaleX(1.25) scaleY(0.75);}
  100% {transform: scale(1);}
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-11 20:5:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}