@import url("https://fonts.googleapis.com/css2?family=Lora&family=Raleway&family=Yellowtail&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4c95d;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 94vh;
}

code {
  font-family: "Raleway", sans-serif;
}

nav {
  display: block;
  padding: 0.7rem;
  background-color: #dd7230;
}

li {
  display: flex;
  flex-direction: row;
  padding: 5px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #dd7230;
}
a:hover {
  animation: bounce 1s both;
  color: #f4c95d;
}

input,
textarea {
  color: #e25700;
  background-color: #f5e9b1;
  /* opacity: 100%; */
  border: 3px solid #854d27;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  padding: 5px;
  display: block;
}
input[type="text"] {
  color: #e25700;
  background-color: #f5e9b1;
  /* opacity: 100%; */
  border: 3px solid #854d27;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  padding: 5px;
  display: block;
}
input[type="password"] {
  color: #e25700;
  background-color: #f5e9b1;
  border: 3px solid #854d27;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  padding: 5px;
  display: block;
}

input.basic-input {
  color: #e25700;
  background-color: #f5e9b1;
  border: 3px solid #854d27;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 60px 10px 10px;
  text-align: left;
  font-size: 16px;
  padding: 5px;
  display: block;
}
#email.user-input {
  color: #e25700;
  background-color: #f5e9b1;
  border: 3px solid #854d27;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 60px 10px 10px;
  text-align: left;
  font-size: 16px;
  padding: 5px;
  display: block;
}
#full_name.user-input {
  color: #e25700;
  background-color: #f5e9b1;
  border: 3px solid #854d27;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px 60px 10px 10px;
  text-align: left;
  font-size: 16px;
  padding: 5px;
  display: block;
}

::selection {
  color: whitesmoke;
  background-color: rgb(29, 116, 216);
}
::placeholder {
  color: #e25700;
  text-shadow: 0px 0px 1px #2e1f27;
}

input:focus {
  background-color: #dbda86;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  padding: 10px 60px 10px 10px;
  -webkit-text-fill-color: #e25700;
  -webkit-box-shadow: 0 0 0px 1000px #dbda86 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.user-greeting {
  font-family: "Lora", serif;
  color: #e7d893;
  background-color: #854d27;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 105px;
  width: 100%;
  z-index: 1;
}

.coin-messages-container {
  width: 100%;
  min-height: 0rem;
  height: 100%;
  background-color: #f4c95d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 170px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .coin-messages-container.public {
    margin-top: 100px;
  }
}

.messages-container {
  width: 100%;
  background-color: #f4c95d;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.messages-container h2,
.settings-subheader {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 18px;
  padding: 5px 0;
}

.hidden-label {
  margin: 5px;
}

.usermessage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.usermessage textarea {
  margin: 5px;
  width: 200px;
  border: 1px solid #2e1f27;
  border-radius: 4px;
  font-style: italic;
}

.usermessage button {
  font-family: "Lora", serif;
  margin: 5px;
  color: #e7d893;
  background-color: #dd7230;
  border: 1px solid #2e1f27;
  border-radius: 4px;
}

.usermessage button:hover {
  margin: 5px;
  color: #dd7230;
  background-color: #e7d893;
  border: 1px solid #2e1f27;
  border-radius: 4px;
  transition: 0.3s;
}

.solid-orange-btn {
  font-weight: bolder;
  background-color: #dd7230;
  font-family: "Lora", serif;
  font-size: 22px;
  color: #e7d893;
  border: 1px solid #2e1f27;
  border-radius: 4px;
  padding: 3px;
  margin: 3px;
}

.solid-orange-btn:hover {
  background-color: #e7d893;
  color: #dd7230;
  border: 1px solid #2e1f27;
  transition: 0.3s;
}

.private-home-error {
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.private-home-success {
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 50%;
  color: green;
  font-weight: bold;
}

.penny-intro {
  padding: 0 10px 0 20px;
  margin: 10px;
  text-align: center;
  width: 50%;
}

.penny-desc {
  display: flex;
  flex-direction: row;
}

.penny-happy {
  background-image: url("../src/images/Penny-Happy.png");
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position: top right;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
}

.penny-thinking {
  background-image: url("../src/images/Penny-Thinking.png");
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position: top right;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
}

.penny-neutral {
  background-image: url("../src/images/Penny-Neutral.png");
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position: top right;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
}

.penny-sad {
  background-image: url("../src/images/Penny-Sad.png");
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position: top right;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
}

.penny {
  background-image: url("../src/images/Penny.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
}

.penny-container {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-content: center;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-side {
  width: 50%;
}

.footer {
  background-color: #dd7230;
  font-size: 16px;
  font-weight: bolder;
  color: #2e1f27;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: #f4c95d;
}

@media only screen and (min-width: 600px) {
  .user-greeting {
    top: 164px;
  }

  .coin-messages-container {
    margin-top: 2rem;
  }

  .penny-container {
    margin-top: 0px;
    width: 50%;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-11 20:5:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
